
body{
    /* display:flex; */
    flex-direction: column;
    line-height: 1.3;
    box-sizing: border-box;
    /* max-width: 80%vw;
    justify-content: center; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:aquamarine;
    height: 100px; 
}

h1{
    font-size: 200%;
    background-color:yellow;
    height: 50px;
    padding: 5px;
    
}

nav ul{
    display: flex;
} 

nav a{
    text-decoration: none;
    font-size:1.3rem; 
    flex-direction: row;
    margin:0 20px 0 25px;
    border-bottom: 3px solid black;
}

.upper-img{
    display:flex;
    padding-bottom: 60px;
}

.bkgrnd-img{
    display:flex;
    height:250px;
    width: 100%;
    background-image: url("../images/pexels-abdullah-ghatasheh-1631677.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    
} 


.subtitle{
    display:flex;
    background:red;
    box-sizing: border-box;
    height: 40px;
    position: relative;
    margin-top: 200px;
    margin-left: 70vw;
    font-size: 1.3rem;
    padding: 6px;
}


.about-me{
    display:flex;
    max-width: 90%vw;
    margin: 40px;
    
}

.about-me-aside{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 2rem;
    flex-basis: 30%;
    box-sizing: border-box;
    border-right: 5px solid black;
}

.about-me-main{
    text-indent: 50px;
    flex-basis: 70%;
    padding-left: 50px;

}

.work{
    display:flex;
    max-width: 90%vw;
    margin: 40px;
}

.work-aside{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 2rem;
    flex-basis: 30%;
    box-sizing: border-box;
    border-right: 5px solid black;
}

.work-main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 70%;
    padding-left: 50px;

}

.large-card{
    display:flex;
    background-image:url("../images/project-1.jpg");
    background-size: cover;
    flex-direction: column;
    width: 100%;
    border: 5px solid aquamarine;
    height: 21.8rem;
}


.large-card h3{
    position: relative;
    font-size: 40px;
    border: 5px 5px 5px 0;
    margin-top: 13rem;
    background-color: aquamarine;
    padding-right: 40px;
    margin-right: 60%;
}

.large-card a{
    display:block;
    width: 100%;
}

.small-card{
    display: flex;
    border: 5px solid aquamarine;
    width: 48%; 
    height: 12rem;
    margin-top: 50px;

}

#small-card1{
    background-image:url("../images/project-2.jpg");
    background-size: cover;
}

#small-card2{
    background-image:url("../images/project-3.jpg");
    background-size: cover;
}

#small-card3{
    background-image:url("..//images/project-4.jpg");
    background-size: cover;
}

#small-card4{
    background-image:url("../images/project-5.jpg");
    background-size: cover;
}

.contact-me{
    display:flex;
    max-width: 90%vw;
    margin: 40px;
}

.contact-me-side{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 2rem;
    box-sizing: border-box;
    border-right: 5px solid black;
    flex-basis: 30%;
}


.contacts{
    display:flex;
    padding-left: 50px;
    flex-direction:row;
    flex-basis: 70%;
    align-content: space-between;
}
 
.contacts ul{
    display: flex;
}

.contacts a{
    flex: 4 0 25%;
    font-size: 1.3rem;
    margin:0 10px 0 10px;
    
}
